name: CI Check

on:
  push:
    branches: ["main", "master"]
  pull_request:
    branches: ["main", "master"]

jobs:
  build-and-test:
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            cmake_args: ""
          - os: ubuntu-latest
            cmake_args: "-DPEM2JSON_STRICT_BUILD=ON"
          - os: macos-latest
            cmake_args: ""
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "lts/*"

      - name: Configure CMake
        run: cmake -S . -B build ${{ matrix.cmake_args }}

      - name: Build
        run: cmake --build build --config Release

      - name: Run Tests
        run: ctest --test-dir build -C Release --output-on-failure
